<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>About me - Robert Airth</title>
    <meta name="description" content="About  me - Robert Airth">
    <meta name="keywords" content="Robert, Airth, About">
</head>
<body>
    <div>
        <h1>Robert Airth</h1>
        <p>
            <img src="https://www.redwoods.edu/Portals/0/EasyDNNNews/4050/600600p18255EDNmainimg-Robert-Airth.jpg" alt="A picture of Robert Airth" width="384" height="279">
            <br/>
            <em>Computer Science, Automotive everything, STEM Anything!</em>
        </p>
        <a href="/index">Home</a>
        <a href="/about">About Me</a>
        <a href="/resume">Resum&eacute;</a>
        <a href="/contact">Contact</a>
        <a href="/all">Site Map</a>         
        <a href="/login">Log In</a>  
        <a href="/logout">Log Out</a>   
    </div>
    <hr/>
    <div>
        <h2>About</h2>
    <p>
       I am currently an undergraduate Computer Science student at Humboldt State University. I am due to graduate in Spring 2021. I am interested in becoming an asset in the software development/computer science industry. I have a lot of knowledge and experience in varying STEM disciplines due to my hobbies and my past career as an automotive technician. I enjoy working in groups on projects due to the cognitive diversity between peers and I feel like my background gives me a unique perspective when considering solutions to new problems. When I am not pursuing my career in computer science, I spend my time on my hobbies including, but not limited to:
    </p>
    <ul>
       <li>Programming</li>
       <li>Racing/Drifting cars</li>
       <li>Building purpose-built race cars</li>
       <li>Traveling</li>
       <li>Home improvement</li>
       <li>Learning</li>
    </ul>

</body>
</html>       