<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Robert Airth - Edit {{page_name}}</title>
    <meta name="description" content="Webpage Edit">
</head>

<body>
    <form method="POST" action="/edit/{{page_name}}">
        
        <textarea id="edit_page" name="content" rows="50" cols="100">
        {{output_page}}
        </textarea>
        <br/>
        <input  type="submit" id="save_changes" name="save_changes" value="Save Changes"/>
        
        
    </form>
</body>

</html>