<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Resum&eacute; - Robert Airth</title>
    <meta name="description" content="Resum&eacute; - Robert Airth">
    <meta name="keywords" content="robert, airth, resume, resum&eacute;">
</head>
<body>
    <div>
        <h1>Robert Airth</h1>
        <p>
            <img src="https://www.redwoods.edu/Portals/0/EasyDNNNews/4050/600600p18255EDNmainimg-Robert-Airth.jpg" alt="A picture of Robert Airth" width="384" height="279">
            <br/>
            <em>Computer Science, Automotive everything, STEM Anything!</em>
        </p>
        <a href="/index">Home</a>
        <a href="/about">About Me</a>
        <a href="/resume">Resum&eacute;</a>
        <a href="/contact">Contact</a>
        <a href="/all">Site Map</a>         
        <a href="/login">Log In</a>  
        <a href="/logout">Log Out</a>        
    </div>
    <hr/>
    <h2>Resum&eacute;</h2>
    <h3>General Automotive Experience</h3>
        <ul>            
            <li>Automotive Service Excellence (ASE) Certified Master Automotive Technician</li>
            <li>Assistant Manager of an independent auto repair business</li>
            <li>Service Writer</li>
            <li>Automotive parts store sales representative/cashier</li>         
        </ul>
    <h3>Automotive Motorsports Experience</h3>
        <ul>
            <li>Formula Drift Pro-Am driver - Just Drift TopDrift(2013 season)</li>
            <li>626drift - Drifting promoter and instructor</li>
            <li>Chassis-setup consulting</li>
            <li>Chassis/roll cage design/fabrication</li>
            <li>Electrical Harness design/fabrication</li>
            <li>Engine blueprinting/building</li>
            <li>Crew Chief</li>
            <li>Crew member/Pit crew</li>            
        </ul>
    <h3>Educational Experience</h3>
        <ul>
            <li>Instructional Support Specialist- College of the Redwoods(Spring 2019)
                <ul>
                    <li>Supporting the instruction of various Computer-Information-Systems subjects</li>
                    <ul>
                        <li>Computer Networking</li>
                        <li>Server Management</li>
                        <li>PC Repair</li>
                        <li>Cyber Security</li>
                        <li>Computer Programming</li>
                    </ul>
                    <li>Preparing and Maintaining various computer-lab environments</li>
                    <ul>
                        <li>~120 desktop PCs</li>
                        <li>~35 laptop PCs</li>
                        <li>6 server racks</li>
                            <ul>
                                <li>~18 routers</li>
                                <li>~18 switches</li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </li>
        </ul>
    <h3>Academic Experience</h3>
        <ul>
            <li>Valedictorian- College of the Redwoods(2019)</li>
            <li>Associate of Arts- Liberal Arts: Science Exploration with Highest Honors(2019)</li>
            <li>Certificate of Recognition- Network Technician(2019)</li>
        </ul>
</div>
</body>
</html>